PyMySQL
jmespath
mysqlclient
ovirt-engine-sdk-python >= 4.5.0
netapp-lib >= 2020.3.12
ansible
ansible-core
cryptography >= 3.4.8
jinja2 >= 2.11.3
netaddr >= 0.7.19
pbr >= 5.4.4
jmespath >= 0.9.5
ruamel.yaml >= 0.16.10
ruamel.yaml.clib >= 0.2.6
MarkupSafe >= 1.1.1
cvdupdate >= 1.1.1
ansible-lint
